<br />
<b>Warning</b>:  filesize() [<a href='function.filesize'>function.filesize</a>]: stat failed for downloads/template.zip in <b>/hermes/web12b/b1020/pow.timmyc21/htdocs/webtemplategenerator/download_template.php</b> on line <b>40</b><br />
<br />
<b>Warning</b>:  Cannot modify header information - headers already sent by (output started at /hermes/web12b/b1020/pow.timmyc21/htdocs/webtemplategenerator/download_template.php:40) in <b>/hermes/web12b/b1020/pow.timmyc21/htdocs/webtemplategenerator/download_template.php</b> on line <b>40</b><br />
<br />
<b>Warning</b>:  Cannot modify header information - headers already sent by (output started at /hermes/web12b/b1020/pow.timmyc21/htdocs/webtemplategenerator/download_template.php:40) in <b>/hermes/web12b/b1020/pow.timmyc21/htdocs/webtemplategenerator/download_template.php</b> on line <b>41</b><br />
<br />
<b>Warning</b>:  Cannot modify header information - headers already sent by (output started at /hermes/web12b/b1020/pow.timmyc21/htdocs/webtemplategenerator/download_template.php:40) in <b>/hermes/web12b/b1020/pow.timmyc21/htdocs/webtemplategenerator/download_template.php</b> on line <b>42</b><br />
<br />
<b>Warning</b>:  readfile(downloads/template.zip) [<a href='function.readfile'>function.readfile</a>]: failed to open stream: No such file or directory in <b>/hermes/web12b/b1020/pow.timmyc21/htdocs/webtemplategenerator/download_template.php</b> on line <b>43</b><br />
